body {
	font-family: Calibri;
	background-color: #29b8ff;
	color: white;
	max-width: 1500px;
    margin: auto;
	font-size: 16px;
	margin-bottom: 50px;
}

a {
	color: #173dfc;
}

img {
	border: 1px solid #173dfc;
}

.heading {
	text-align: center;
}

h2 {
	font-size: 32px;
}

ol {
	font-size: 20px;
}